<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SE-2229</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create-blog">Create Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin page</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search-books">Books API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/smartsheet-data">Smartsheet API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/holidays">Holidays API</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li>
            <form action="/logout?_method=DELETE" method="POST">
              <button class="nav-link fw-bold py-1 px-0 btn p=3 btn-dark text-white" type="submit"  >Logout</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  